@import '~antd/dist/antd.css';

body {
	font-family: 'Roboto', 'Microsoft YaHei' !important;
	background: #F5F5F5;
}

.ant-layout {
	background: #F5F5F5;
}

.ant-layout-header {
	height: 60px;
	line-height: 60px;
}

/* Header */
.icon-wrapper {
	height: 100%;
}

.icon-wrapper>img {
	height: 60px;
	width: 75.6px;
}

.nav-button-wrapper {
	height: 100%;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto', 'Microsoft YaHei';
	font-weight: 500;
	font-size: 14px;
}

.nav-button-wrapper>a {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}

.nav-button-wrapper:hover>a {
	color: rgba(255, 255, 255, 1);
}

.nav-button-wrapper>a:visited {
	color: rgba(255, 255, 255, 0.8);
}

.nav-bal-wrapper {
	margin-left: 60px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto', 'Microsoft YaHei';
	font-weight: 400;
}

.nav-bal-item {
	height: 60%;
	margin-right: 24px;
}

.nav-bal-item>div {
	height: 50%;
	font-size: 11px;
	line-height: 18px;
	color: rgba(255, 255, 255, 0.7);
}

.nav-bal-item>.nav-bal-value {
	font-size: 14px;
	color: rgba(255, 255, 255, 1);
}

.error-msg {
	color: rgba(255, 110, 110, 1);
	font-weight: 200;
}

/* D3 Test Graph */
svg {
	overflow: visible !important;
}
.d3-test-graph {
	width: 640px;
	height: 424px;
	background: rgba(32, 31, 33, .5);
}

.d3-OHLC-chart {
	width: 100%;
	height: 100%;
}

.loading {
	pointer-events: none;
	width: 100%;
	height: 100%;
	display: flex;
	font: 14px 'Roboto', 'Microsoft YaHei';
	font-weight: 400;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: rgba(255, 255, 255, 0.5);
	position: relative;
}

.loading-img {
	position: absolute;
	width: 185px;
	height: 200px;
	opacity: 0.02;

}

.x-axis text,
.ly-axis text,
.ry-axis text {
	font: 10px 'Roboto', 'Microsoft YaHei';
	fill: #474849;
	pointer-events: none;
}

.x-axis path,
.x-axis line,
.ly-axis path,
.ly-axis line,
.ry-axis path,
.ry-axis line {
	fill: none;
	stroke: #303132;
	shape-rendering: crispEdges;
	pointer-events: none;
}

.grid line {
	stroke: rgba(34, 34, 34, 1);
	stroke-opacity: 0.7;
	shape-rendering: crispEdges;
	z-index: 0;
	pointer-events: none;
}

.overlay {
	cursor: crosshair;
}

.eth-dot {
	cursor: pointer;
}

.assist-line-x,
.assist-line-y {
	pointer-events: none;
}

.dashed {
	stroke-dasharray: 2 4;
	opacity: 0.4;
}

.ledger-reminder {
	color: rgba(250, 250, 250, 0.6);
	margin-top: 12px;
}

.ledger-account-selector {
	margin-top: 20px;
}

.log-out-button {
	cursor: pointer;
	color: rgba(255, 255, 255, 0.6);
	transition: all 0.3s;
}

.log-out-button:hover {
	color: rgba(255, 255, 255, 1);
}

.ant-radio-inner:before {
	background-image: url('../images/icons/check.svg');
}

.popup-bg {
	position: fixed;
	top: 0px;
	left: 0;
	background: rgba(0, 0, 0, .5);
	height: 100%;
	width: 100vw;
	z-index: 10;
}
.popup-open-bg {
	animation-name: openPopupBG;
	animation-duration:0.3s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}
.popup-bg:not(.popup-open-bg) {
	animation-name: openPopupBG;
	animation-duration:0.3s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-fill-mode: backwards;
}
.pop-up-new {
	background: rgba(255, 255, 255, 0.8);
	position: fixed;
	top: 290px;
	width: 100%;
	height: 380px;
	z-index: 10;
}

.pop-up-convert {
	background: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 460px;
    width: 100%;
    height: 170px;
    z-index: 10;
}

.popup-card {
	position: absolute;
	top:100px;
	left: 50%;
	z-index: 11;
}
.popup-card-oh {
	position: absolute;
	top:40px;
	left: 50%;
	z-index: 11;
}
.popup-open {
	animation-name: openPopup;
	animation-duration:0.2s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}
.popup-card:not(.popup-open) {
	animation-name: openPopup;
	animation-duration:0.2s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-fill-mode: backwards;
}
.list-expand-button {
	cursor: pointer;
	justify-content: center !important;
	height: 20px;
	line-height: 12px;
	font-size: 12px;
	transition: all .2s;
	color: rgba(64, 79, 84, .6);
}

.list-expand-button:hover {
	background: rgba(92,164,222,.2)
}
.convert-popup-des {
	padding: 5px 15px;
	font-size: 12px;
	color: rgba(64, 79, 84, .8);
}
.convert-radio-des {
	font-size: 10px;
	color: rgba(64, 79, 84, .6);
}
.cardpopup-close {
	opacity: 0.8;
	cursor: pointer;
	transition: all .2s;
}
.cardpopup-close:hover {
	opacity: 1;
}
.input-des{
	position: absolute;
	left: 20px;
	opacity: 0.6;
	pointer-events: none;
}
.status-ligh-wrapper {
	display: flex;
	justify-content: space-between;
}
.status-light {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid #fff;
}
.status1 {
	background-color: #FF5D5D
}
.status2 {
	background-color: #FFC361
}
.status3 {
	background-color: #97FF2D
}
.px-left {
	font-size: 14px;
	text-align: center;
	width: 50%;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	background: #81BF69;
	color:#fff;
}
.px-right {
	font-size: 14px;
	text-align: center;
	width: 50%;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	background: rgba(245, 94, 94);
	color:#fff;
}
.bid-span {
	color: #9AC370 !important;
}
.ask-span {
	color: #F55E5E !important;
}
.range-picker {
	font-size: 10px !important;
	height: 20px !important;
	width: 36px !important;
}
.cus-link {
	cursor: pointer;
}
.cus-link:hover {
	background: #38a4e30e
}
.order-cancel {
	color: #F55E5E;
	padding: 2px 5px;
	transition: all .1s;
}
.order-cancel:hover {
	color: #F55E5E;
	box-shadow: 0 0 0 1px rgba(245, 94, 94, 0.8);
}
.cuscardtokenwrapper {
	width: 56%;
	display: flex;
	justify-content: space-between;
}
.cuscardtokenwrapper > span {
	padding: 2px 0;
}
.cuscardnavtag {
	width: 134px;
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.ordercard-header {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.ordercard-header > .switch-button {	
	color: rgba(255,255,255,1);
    margin-left: 5px;
    height: 20px;
    display: flex;
    align-items: center;
    font-family: Roboto;
    border-left: 1px solid rgba(255,255,255,.3);
    padding-left: 5px;
}
.cuscardheadertitle {
	display: flex;
	align-items: center;
}
.status-icon {
	height: 14px;
	margin-left: 8px
}
.navspan {
	background: rgba(92,164,222,.8);
	color: #fff;
	padding: 0px 4px;
	border-radius: 2px;
	font-size: 10px
}
.aspan {
	background: rgba(92,164,222,.8);
	color: #fff;
	padding: 0px 4px;
	border-radius: 2px;
	margin-left: 4px;
	font-size: 10px
}
.bspan {
	background: rgba(224, 136, 77, 0.8);
	color: #fff;
	padding: 2px 4px;
	border-radius: 2px;
	margin-right: 4px;
}
@keyframes openPopup {
	from {
		transform: translate(-50%, 0) scale(0);
	}
	to {
		transform: translate(-50%, 0) scale(1) ;
	}
}

@keyframes openPopupBG {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* .order-history-card {
	position: fixed;
	top: 70px;
	left: 50%;
	transform-origin: top;
	transform: translate(-50%, 0) scaleY(0);
	transition: all .2s;
}
.history-show {
	transform: translate(-50%, 0) scaleY(1);
} */